doctype html
html
    head
        title My CV
    body
        div(class ='main-container')
            h2(class='main-title',id='main') My Skills
            // start My Skills
            ul(class = 'skill')
                li php
                li MySql
                li Sass
                li PugJs
            p.main-paragrahe I Love <b>Pug js</b>
            p#main
                | I SSS
                b pugjs
                | And
                b sass
            |
            |
            .
                This Text Belong To ?

        forme
            h2.contact-title Contact My
            input(
                class='f-c',
                 type='text',
                 name='user',
                 style={'background-color':'red', 'color': 'white'}
                 )
            input(
                class='f-c', 
                type='email',
                name='email'
                )
            input(
                class='f-c',
                 type='text',
                 name='subject'
                 )
            //- button(style='background-color:red;color:white') Send
            button(style={'background-color':'red', 'color': 'white'}) Send
            button Reset

