include incloudes/myvares
doctype html
html
    head
        meta(charset='utf-8')
        meta(name="description" content="Learn PugJs")
        title My CV
        //- include incloudes/styles.pug
    body 
        div(class ='main-container')
            h2(class='main-title',id='main') My Skills
            // start My Skills
            ul(class = 'skill')
                li(class='testing ' + className) php
                li MySql
                li Sass
                li PugJs
            //- This Is For Loop
            ul
                -for (var x = 0; x <= 40; x++ )
                    //- li iteme
                    li #{x}

            //- This Is While Loop
            //- - var z = 0
            //- ul
            //-     while z<20
            //-         li= z++
        
            div(class ='parent') Parent Dev
                div(class= 'child ' + className ) child Dev
                div chil
            //- div= 'This <strong>Tag<strong>Will Not Appera'    
            div!= 'This <strong>Tag<strong>Will Not Appera'    

            p.main-paragrahe I Love <b>Pug js</b>
            p#main
                | I SSS
                b pugjs
                | And
                b sass
            |
            |
            .
                This Text Belong To ?

        forme
            h2.contact-title Contact My
            input(
                class='f-c',
                 type='text',
                 name='user',
                 style={'background-color':'red', 'color': 'white'}
                 )
            input(
                class='f-c', 
                type='email',
                name='email'
                )
            input(
                class='f-c',
                 type='text',
                 name='subject'
                 )
            //- button(style='background-color:red;color:white') Send
            button(style={'background-color':'red', 'color': 'white'}) Send
            button Reset

        //- include includes/scripts.js    

            

