include incloudes/myvares
doctype html
html
    head
        meta(charset='utf-8')
        meta(name="description" content="Learn PugJs")
        title My CV
        //- include incloudes/styles.pug
    body 
        div(class ='main-container')
            h2(class='main-title',id='main') My Skills
            // start My Skills
            ul(class = 'skill')
                li(class='testing ' + className) php
                li MySql
                li Sass
                li PugJs
            //- This Is For Loop
            ul
                -for (var x = 0; x <= 40; x++ )
                    //- li iteme
                    li #{x}

            //- This Is While Loop
            //- - var z = 0
            //- ul
            //-     while z<20
            //-         li= z++
        


            //-This Is Each Loop


            //- each val in [1,2,3,4,5,6,7,8]
            //-     div= val
            //-     p= val


            //- each val, index in [1,2,3,4,5,6,7,8]
            //-     div= index

                
            //- each val, index in [1,2,3,4,5,6,7,8]
            //-     div= index + ' : ' + val

            //- - var myArray = ['html','css','js','php','vue']
            //- each val, index in myArray
            //-     div= index + ' : ' + val


            //- - var myArray = []
            //- each val, index in myArray
            //-     div= index + ' : ' + val
            //- else
            //-     div Theres No Value



            ul(class = 'skill-list')
                li php #{themeName}
                li MySql #{theamTag}
                li Sass !{theamTag}
                li PugJs #{themeName.toUpperCase()}
                li Json \#{mmmm}
                li Ajax #{'#{aaaaa}'}
            //- This Is For Loop
            ul

            div(class ='parent') Parent Dev
                div(class= 'child ' + className ) child Dev
                div chil
            //- div= 'This <strong>Tag<strong>Will Not Appera'    
            div!= 'This <strong>Tag<strong>Will Not Appera'    

            p.main-paragrahe I Love <b>Pug js</b>
            p#main
                | I SSS
                b pugjs
                | And
                b sass
            |
            |
            .
                This Text Belong To ?

        forme
            h2.contact-title Contact My
            input(
                class='f-c',
                 type='text',
                 name='user',
                 style={'background-color':'red', 'color': 'white'}
                 )
            input(
                class='f-c', 
                type='email',
                name='email'
                )
            input(
                class='f-c',
                 type='text',
                 name='subject'
                 )
            //- button(style='background-color:red;color:white') Send
            button(style={'background-color':'red', 'color': 'white'}) Send
            button Reset

        //- include includes/scripts.js    


        p.inter This Is InterPolation #[b Test] Text After
            
        p.inter2 This Is  #[b(class='pug') Test]  After

